body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f9;
    margin: 0;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 40px;
}

h1 {
    color: #ffffff;
    background-image: linear-gradient(to right,rgb(14, 10, 3),rgb(0, 0, 0));
    border-radius: 80px;;
}

.course-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.course-box {
    background-image: linear-gradient(to right,orange,rgb(235, 168, 12),rgb(248, 159, 6),rgb(223, 227, 20));
    border: 2px solid #110f0f;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 200px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    position: relative;
}

.course-box h2 {
    color: #09090a;
}

.course-box p {
    color: #290505;
    flex-grow: 1;
}

.course-box button {
    background-color: #021931;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.course-box button:hover {
    background-color: #0056b3;
}

.course-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(80, 5, 242, 0.2);
}
